################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReadTextFile/bin/Debug
/ReadTextFile/obj/Debug
/.vs/ReadTextFile/v15/Server
/packages
